{% extends "SuperAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block page %}
    <a href="{{ path('superadmin_users') }}">
        Gestion des utilisateurs
    </a>
    <br />
    <a href="{{ path('superadmin_trips') }}">
        Gestions des voyages
    </a>
{% endblock %}