{% extends "::layout.html.twig" %}

{% block body %}
    <div class="alert alert-success">
        Vous êtes connecté en tant que <strong>SuperAdmin</strong>
    </div>
     {% block page %}
    {% endblock %}
{% endblock %}
