<footer>

    <div class="footer navbar-fixed-bottom" style="background-color: #7F223C">
        <p style="color: white" align="center">
            Projet Web - NICOLAS Bastien - Gaspard MASY - Charles AMBASSA - 4ACFA -2016
        </p>

    </div>

</footer>

