{% for message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        <p>{{ message }}</p>
    </div>
{% endfor %}

    {% for message in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('valid') %}
        <div class="alert alert-success">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            <p>Message info (bleu) : {{ message }}</p>
        </div>
    {% endfor %}
